body {
  background-color: #f6f6f6;
  font-family: sans-serif;
  margin: 0;
  user-select: none;
}

#containerDiv {
  position: fixed;
}

#welcomeText1 {
  font-family: Arial, Helvetica, sans-serif black;
  text-align: center;
  position: fixed;
  bottom: 15.2vw;
  right: 50vw;
  display: block;
  font-size: 15vw;
  font-weight: 900;
  letter-spacing: -0.05em;
  display: flex;
}

#welcomeText2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  position: fixed;
  bottom: 4.9vw;
  right: 24.8vw;
  display: block;
  font-size: 15vw;
  font-weight: 900;
  letter-spacing: -0.05em;
  display: flex;
}

#subtitle {
  font-size: 1.4vw;
  color: #54595d;
  text-align: center;
  display: block;
  position: fixed;
  bottom: 16.2vw;
  right: 27vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 0.1cm;
  text-transform: uppercase;
}

.buttonContainer {
  position: fixed;
  transform: translateX(-50%);
  left: 50%;
  bottom: 20px;
  text-align: center;
}

#orText {
  font-size: 30px;
  margin: 10px;
}

.LISUButtons {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 30px;
  font-size: 1.8vw;
  background-color: #ffff;
  color: #1a1a1a;
  border: 2px solid #0c9b43;
}

.LISUButtons:hover {
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 10px 20px rgba(0, 255, 55, 0.2);
  transform: translateY(-5px);
}

.LISUButtons:active {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(70, 3, 3, 0.2);
}

#image1 {
  pointer-events: none;
  background-size: cover;
  position: fixed;
  left: 72vw;
  top: 0vw;
  width: 22vw;
}

#image2 {
  pointer-events: none;
  z-index: -5;
  position: fixed;
  left: 40vw;
  width: 22vw;
  bottom: 19vw;
}

#image3 {
  z-index: -5;
  pointer-events: none;
  background-size: cover;
  position: fixed;
  left: 82vw;
  bottom: 0vw;
  width: 22vw;
}

#fadingWall {
  width: 23.8vw;
  height: 100vw;
  background: linear-gradient(to right, #39a578, #f6f6f6);
}

.popupContainerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonsSULIInput {
  padding: 0.6px;
  margin: 7px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px, solid #CCCCCC;
  width: 16vw;
  height: 34px;
  color: #888888;
  opacity: 1; /* insures te color isnt faded by the browser*/
}

.submitButton {
  padding: 14px, 14px;
  margin: 22px;
  font-size: 50px;
  background-color: #000000;
  border-radius: 8px;
  color: #ffffff;
  width: 17vw;
  height: 37px;
  font-size: 13px;
}

#alertLISU {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  z-index: 10000;
  animation: slideIn 0.5s ease-out;
}